<!DOCTYPE html>
<html>
    <head>
        {% include head-common-1.html %}        <title>{{ page.title }}</title>
        {% include head-common-2.html %}    </head>
    <body>
        {% include header.html %}        <section class="main">
            <article>
                <header>
                    <h2>{{ page.title }}</h2>
                </header>
                <div class="post">
                    {{ content }}                </div>
            </article>
        </section>
        {% include footer.html %}    </body>
</html>
